
/* SECTION HOME
============== */

#home {
    padding:2rem;
    margin:0 auto;
    max-width: 1250px;
}

#home .title {
    font-size: 4rem;
    line-height: 100%;
    margin-bottom:0.65rem;
}

#home .text {
    font-size:var(--fs-400);
    margin-bottom:3rem;
}

#home .btn-container {
    padding-top:var(--padding-600);
    display:flex;
    gap:1rem;
}

#home button {
    outline:none;
    border:none;
    background:none;
    border:0.1rem solid rgb(30, 33, 42);
    padding:0.5rem 2rem;
    border-radius: 10px;
    font-size:var(--padding-400);
}