
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.font-title {
    font-size:60px;
    letter-spacing: -3px;
}

.font-text {
    font-size:16px;
    line-height: 140%;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
}


.section {
    padding:2rem;
}